#movies {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  width: 18%;
  color: #fff;
  background-color: #333;
  padding: 20px;
  margin-top: 20px;
}

#buttons {
  padding: 10px 40px 10px;
}
#buttons button {
  margin: 5px;
  padding: 5px 10px;
}
#newMovie {
  padding: 50px 40px 10px;
}
#newMovie form {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}
#newMovie form label {
  width: 40%;
  margin-bottom: 10px;
}
#newMovie form input {
  width: 40%;
  margin-bottom: 10px;
}
#newMovie form input {
  text-align: left;
}
#submit-button {
  margin-left: auto;
  margin-right: 65px;
  padding: 20px 120px;
  text-align: center;
}
